header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 114px;
}

.search-area {
  text-align: center;
  background-color: #e3e3e3;
  width: 848px;
  margin-left: auto;
  margin-right: auto;
}